@import "tailwindcss";

/* Theme variables */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --button-bg: #f0f0f0;
  --button-hover: #e0e0e0;
  --link-color: #105aca;  /* Light mode link color */
}

body.dark-theme {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --button-bg: #333333;
  --button-hover: #444444;
  --link-color: #618af6;  /* Dark mode link color */
}

body.app {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}

/* Common link styles */
a {
  color: var(--link-color);
  text-decoration: none;
}

a.group span {
  background-image: linear-gradient(to right, #3b82f6, #3b82f6);
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-out;
}

a.group:hover span {
  background-size: 100% 2px;
}

/* Theme toggle button */
.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
  background-color: transparent;
}

.theme-toggle:hover {
  background-color: var(--button-hover);
}

.theme-toggle svg {
  width: 100%;
  height: 100%;
}

.theme-toggle .moon-icon {
  display: block;
  fill: #7c3aed;
}

.theme-toggle .sun-icon {
  display: none;
  fill: #eab308;
}

body.dark-theme .theme-toggle .moon-icon {
  display: none;
}

body.dark-theme .theme-toggle .sun-icon {
  display: block;
}
